@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-color: #252525;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("assets/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    width: 0.5em;
    background-color: white;
    margin-inline-start: 0 !important;
}

p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.shapes {
    display: grid;
    width: 25%;
    grid-template-columns: 45% 8% 8% 8% 8% 8% 8% 8%;
}

*, *:before, *:after{ 
    box-sizing: border-box; 
} 
.css-shapes-preview{ 
    position: relative; 
    height: 55px; 
    width: 21px; 
    margin-right: 1em;
    background-color: #FFFFFF; 
    top: 0px; 
    transform: rotate(0deg) skew(147deg); 
    -webkit-transform: rotate(0deg) skew(130deg); 
}

.css-shapes-preview1{ 
    position: relative; 
    height: 55px; 
    width: 10px; 
    margin-right: 1em;
    background-color: #FFFFFF; 
    top: 0px; 
    transform: rotate(0deg) skew(130deg); 
    -webkit-transform: rotate(0deg) skew(130deg); 
}

.css-shapes-preview2{ 
    position: relative; 
    height: 15px; 
    width: 240px; 
    padding: 0px;
    margin-top: -5px;
    margin-left: -10px;
    background-color: #FFFFFF; 
    transform: rotate(0deg) skew(130deg); 
    -webkit-transform: rotate(0deg) skew(130deg); 
}

.css-shapes-preview3{ 
    position: relative; 
    height: 15px; 
    width: 170px; 
    padding: 0px;
    margin-top: -9px;
    margin-left: -40px;
    background-color: #FFFFFF; 
    transform: rotate(0deg) skew(130deg); 
    -webkit-transform: rotate(0deg) skew(130deg); 
}


.window-title {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.main {
    display: grid;
    height: 100vh;
    width: 100vw;
}

.logo {
    color: white;
    border-style: solid;
    border-width: 0.3em;
    border-color: white;
    padding-left: 2em;
    padding-top: 1em;
}

.header {
    border-style: solid;
    border-width: 0.3em;
    border-color: white;
    height: 18vh;
    display: grid;
    margin-top: 0.1vh;
    grid-template-columns: 22% 50% 28%;
}

.header-title {
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    border-style: solid;
    border-width: 0.3em;
    border-color: white;
}

.main-wrapper {
    height: 82vh;
    display: grid;
    grid-template-columns: 20% 80%;
}
.side-nav {
    border-style: solid;
    border-width: 0.6em;
    border-color: white;
}

.side-nav-contents {
    display: grid;
    grid-template-rows: 30% 30% 30% 10%;
    text-align: center;
    color: white;
}

.right-content {
    display: grid;
    grid-template-columns: 50% 45% 30%;
}

.status-top {
    color: white;
    position: relative;
    border-style: solid;
    border-width: 0.3em;
    border-color: white;
}

.item-status {
    position:absolute;
    bottom:1em;
    right:2em;
}

.bottom-status {
    text-align: right;
    margin-right: 1em;
    margin-top: 5vh;
}

.status-yes {
    color: greenyellow;
}

.status-ping {
    color: yellow;
}

.status-error {
    color: red;
}

* {
  box-sizing: border-box;
}


.container {
  border: 3px solid #898989;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 400px;
  width: 600px;
  margin: 2em;
}

.top {
  padding: 10px;
  background: #898989;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.window-title {
    color: white;
}

.actions {
    text-align: right;
    color: white;
}

.content {
    height: 352px;
    background-color: #898989;
}

.window-img {
    object-fit: cover;
    width: 100%;
    height: inherit;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}